.page{
    margin: 0;
    padding: 0;
    background-color:#2A2C2F;
    color: #fff;
}

/**320px**/
/**header**/
.header{    
    width: 320px; 
    display: block;
    margin: 20px auto 0 auto;
}
.logo{
    width: 288px;
    height: 36px;    
}
.logo__image{    
    height: 36px; 
    float: left;    
}
.logo__link{
    display: inline-block;    
}
.logo__lang-link{
    float: right; 
    display: inline-block;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;   
    margin-top: 10px;    
}

.logo__lang-link:last-child{
    padding-right: 18px;
    text-decoration: underline;
}
/**lead**/
.lead {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.lead__title{
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    margin-top: 50px;
    margin-bottom:0 ;
    padding: 0;
    width: 288px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.lead__subtitle{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 288px;
}
.lead__caption{
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 16px;
    width:288px ;
    margin-left: auto;
    margin-right: auto;
}
.lead__image{
    width: 320px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/**intro**/
.intro{
    width: 288px;
    margin: 0 auto;
}
.intro__title{
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    margin: 0;
    padding: 0;
}
.intro__subtitle{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}
.intro__text {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 34px;
}
.intro__list{
    margin: 0;
    list-style: none;
    padding: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 64px;
}
.intro__list-decor{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
/**photo grid**/
.photo-grid__item{
    display: grid;
    grid-template-columns: 288px;
    margin-left: auto;
    margin-right: auto;
        
}
.photo-grid__item{
    margin-bottom: 12px;
}
/**place**/
.place__website {
    width: 288px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
.place__title{
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    width: 288px;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.place__url-heading{
    color: #AAA;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    width: 288px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}
.place__link{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
    width: 288px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.place__link:hover {
    opacity: 0.8;    
}
.text__paragraph{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    width: 288px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.place__paragraph:first-child{
    margin-top:32px ;
}
.place__image{
    width: 320px;
    height: 320px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.website__url-heading {
    color: #AAA;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    width: 288px;
    margin-top: 0;
}
.website__link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
    text-decoration-line: underline;
    width: 288px;
}
/**cover**/ 
.cover{
    background-image: url(images/__background.png);
    width: 320px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.cover{
    width: 320px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.cover:hover{
    opacity: 0.8;    
    
}
.cover__title{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    padding-top: 51px;
    display: block;
    margin: 0 auto;
    width: 288px;


}
.cover__subtitle{
    width: 288px;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 0;
}
/**footer**/
.footer__link{
    list-style: none ;
    margin: 0;
    margin-left:16px ;
    padding: 0;
}
.footer__links{
    display: block;
    margin-top: 32px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #FFF;
}
.footer__links:first-child {
    margin-top: 0;
}
.footer__copyright{
    margin-left: 16px;
    margin-top: 48px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

/**768px**/
@media screen and (min-width: 768px) {
    .header {
        width: 720px; 
   }
    .logo {
        width: 720px;
        height: 44px;       
        margin-top: 34px;   
    }
    .logo__image {
        width: 190px;
        height: 44px;        
    }
    .logo__link {
        display: inline-block;       
    }
    .logo__lang-link {
        display: inline-block;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        
    }
    .logo__lang-link:last-child {
        top: 30px;
        left: 283px;
    }
    /**lead**/
    .lead__title {
        font-size: 96px;
        line-height: 100px;
        width: 720px;
        display: block;
    }
    .lead__subtitle {
    color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        
        margin-top: 32px;
        margin-bottom: 56px;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 620px;
    }
    .lead__caption {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 720px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .lead__image {
        width: 768px;
        height: 480px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /**intro**/
    .intro {
        width: 720px;
        margin: 0 auto;
    }
    .intro__title {
        font-family: Inter;
        font-size: 54px;
        font-style: normal;
        font-weight: 900;
        line-height: 58px;
        text-align: center;
    }
    .intro__subtitle {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        width: 720px;
    }
    .intro__text {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
        
        margin: 0;
        padding: 0;
        margin-top: 32px;
        margin-bottom: 34px;
    }
    .intro__list {
        margin: 0;
        list-style: none;
        padding: 0;
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }
    .intro__list-decor {
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
    /**photo grid**/
    .photo-grid{
        display: grid;
        grid-template-columns:352px 352px ;
        margin-top: 88px;    
        margin-left: auto;  
        margin-right: auto; 
        justify-content: center;
    }
    .photo-grid__item {
        margin-bottom: 16px;
    }
    /**place**/
    .places{
        margin: 0 24px;
    }
    .place{
        margin-top: 72px;
    }
    .place__title {
        color: #FFF;
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 46px;
        float: left;
        width: 340px;
        margin-bottom: 0;
    }
    .place__website{
        float: right;
        width: 352px;
       
    }    
    .website__url-heading {
        color: #AAA;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 2.4px;        
        width: 352px;   
        margin-top: 0;  
        float: right;      
    }   
    .website__link {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-decoration-line: underline;
        width: 352px;
    }
    .place__text {
        width: 352px;
        float: right;
    }
    .text__paragraph {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
        width: 352px;
    }    
    .place__image {
        width: 340px;
        height: 340px;
        flex-shrink: 0;
        margin: 0;
        margin-top: 48px;
        float: left; 
    }
    /**cover**/
    .cover {
        background: url("images/__background\(1\).png") lightgray 50% / cover no-repeat;      
        width: 768px;
        height: 480px;
        margin: 0 auto;
        margin-bottom: 88px;
        clear: both;
        margin-top: 89px;
    }
    .cover__title {
        text-align: center;
        color: #FFFDFD;
        text-align: center;
        font-family: Inter;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 76px;
        
        display: block;
        margin: 0 auto;
        padding-top: 153px;
        width: 656px;
    }
    .cover__subtitle {
        width: 320px;
        text-align: center;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-top: 32px;
    }
    /**footer**/
    .footer__link {
        list-style: none;
        margin: 0;
        margin-left: 16px;
        padding: 0;
        float: left;
    }
    .footer__links {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        line-height: 22px;
        margin-right: 18px;
        display: inline-block;
    }
    .footer__links:last-child{
        margin-right: 0;
    }
    .footer__copyright {
        float: right;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        margin: 0;
    }
}

/**1024px**/
@media screen and (min-width: 1024px) {
    .header {
        width: 928px;
    }
    .logo {
        width: 928px;
        height: 44px;
        display: block;
        margin-top: 34px;
    }
    .logo__image {
        width: 190px;
        height: 44px;
        display: block;
    }   
    .logo__lang-link {
        display: inline-block;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
/**lead**/
    .lead{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 928px;
    }
    .lead__title {
        text-align: center;
        font-family: Inter;
        font-size: 96px;
        font-style: normal;
        font-weight: 900;
        line-height: 100px;
        width: 620px;
        display: block;

    }
    .lead__subtitle {
        text-align: center;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;   
        margin-top: 32px;
        margin-bottom: 56px;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 620px;
    }
    .lead__caption {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;   
        width: 928px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .lead__image {
        width: 928px;
        height: 580px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /**intro**/
    .intro {
        width: 928px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 92px;
    }
    .intro__title {
        color: #FFF;
        font-family: Inter;
        font-size: 54px;
        font-style: normal;
        font-weight: 900;
        line-height: 58px;
        text-align: left;
        width: 690px;
    }
    .intro__subtitle {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        width: 690px;
    }
    .intro__text {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
        margin: 0;
        padding: 0;
        margin-top: 32px;
        margin-bottom: 34px;
        width: 690px;
    }
    .intro__list {
        margin: 0;
        list-style: none;
        padding: 0;
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        width: 690px;
    }
    .intro__list-decor {
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
    /**photo grid**/
    .photo-grid {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        margin-top: 92px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .photo-grid__item {
        margin-bottom: 14px;
    }
    /**place**/
    .places {
        margin: 0 auto;
    }
    .place {
        
        width: 928px;
        margin: 0 auto;
        margin-top: 0px;
    }
    .place__title {
        color: #FFF;
        font-family: Inter;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 76px;          
        float: left;
        width: 440px;
        margin-bottom: 0;
        margin-top: 80px;
    }
    .place__website {
        float: right;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 456px; 
        margin-top: 110px ;   
    }
    .website__url-heading {
        color: #AAA;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        letter-spacing: 2.4px;
        margin-top: 0;
        width: 456px;
        margin-bottom: 12px;
    }
    .website__link {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-decoration-line: underline;
       
    }
    .place__text{
        width: 456px;
        float: right;
        margin-top: 48px;
    }
    .text__paragraph {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
        width: 456px;
        margin: 0;
        margin-top: 25px;
    }
    .text__paragraph:first-child{
        margin: 0;
    }
    .place__image {
        width: 440px;
        height: 440px;
        flex-shrink: 0;
        margin: 0;
        margin-top: 48px;
        float: left;
    }
    /**cover**/
    .cover {
        background: url("images/__background\(1\).png") lightgray 50% / cover no-repeat;     
        width: 1024px;
        height: 640px;
        margin: 0 auto;
        margin-bottom: 88px;
        clear: both;
        margin-top: 89px;
    }
    .cover__title {
        color: #FFFDFD;
        text-align: center;
        font-family: Inter;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 76px;
        display: block;
        margin: 0 auto;
        padding-top: 233px;
        width: 1024px;
    }
    .cover__subtitle {
        width: 320px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;      
        margin-top: 32px;
    }
    /**footer**/
    .footer {
        display: block;
        margin: 0 48px;
        margin-bottom: 24px;
    }
    .footer__link {
        list-style: none;
        margin: 0;
        margin-left: 16px;
        padding: 0;
        float: left;
        margin-bottom: 24px;
    }
    .footer__links {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-right: 18px;
        display: inline-block;

    }
    .footer__links:last-child {
        margin-right: 0;
    }
    .footer__copyright {
        float: right;
        color: #FFF;
        text-align: right;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin: 0;
        margin-bottom: 24px;
    }
}
/**1280px**/
@media screen and (min-width: 1280px) {
    .header {
        width: 984px;
    }
    .logo {
        width: 984px;
        height: 44px;
        display: block;
        margin: 0;
        margin-top: 34px;
    }
    .logo__image {
        width: 190px;
        height: 44px;
        display: block;
        float: left;
    }
    .logo__lang-link {
        display: inline-block;
        color: #FFF;
        text-align: right;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    /**lead**/
    .lead {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 984px;
    }
    .lead__title {
        text-align: center;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 96px;
        font-style: normal;
        font-weight: 900;
        line-height: 100px;
        width: 720px;
        display: block;
    }
    .lead__subtitle {
        text-align: center;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        margin-top: 32px;
        margin-bottom: 56px;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 620px;
    }
    .lead__caption {
        color: #FFF;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 984px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .lead__image {
        width: 984px;
        height: 615px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /**intro**/
    .intro {
        width: 984px;
        margin: 0 auto;
        margin-top: 92px;
    }
    .intro__title {
        color: #FFF;
        font-family: Inter;
        font-size: 54px;
        font-style: normal;
        font-weight: 900;
        line-height: 58px;
        text-align: left;
        width: 690px;
    }
    .intro__subtitle {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        width: 690px;
    }
    .intro__text {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
        margin: 0;
        padding: 0;
        margin-top: 32px;
        margin-bottom: 34px;
        width: 690px;
    }
    .intro__list {
        margin: 0;
        list-style: none;
        padding: 0;
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        width: 690px;
    }
    .intro__list-decor {
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    /**photo grid**/
    .photo-grid {
     
        display: grid;
        grid-template-columns: 284px 284px 284px 284px;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        margin-top: 92px;  
    }

    /**place**/
    .places {
        margin: 0 auto;
    }
    .place {
        width: 984px;
        margin: 0 auto;
        margin-top: 81px;
    }
    .place__title {
        color: #FFF;
        font-family: Inter;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 76px;            
        float: left;
        width: 460px;
        margin-bottom: 0;
    }
    .place__website {
        float: right;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 456px;
    }
    .website__url-heading {
        color: #AAA;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        /* 20.4px */
        letter-spacing: 2.4px;
        margin-top: 0;
    }
    .website__link {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-decoration-line: underline;
    }
    .place__text {
        width: 484px;
        float: right;
        margin-top: 48px;
    }
    .text__paragraph {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
        margin: 0;
        margin-top: 25px;
    }
    .text__paragraph:first-child {
        margin: 0;
    }
    .place__image {
        width: 460px;
        height: 460px;
        margin: 0;
        margin-top: 48px;
        float: left;
    }

    /**cover**/
    .cover {
        background: url("images/__background\(1\).png"), lightgray 50% / cover, no-repeat;
        width: 1084px;
        height: 740px;
        margin: 0 auto;
        margin-bottom: 134px;
        clear: both;
        margin-top: 92px;
    }
    .cover__title {
        color: #FFFDFD;
        text-align: center;
        font-family: Inter;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 76px;

        display: block;
        margin: 0 auto;
        padding-top: 283px;
        width: 656px;
    }
    .cover__subtitle {
        width: 320px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-top: 32px;
    }

    /**footer**/
    .footer{
        display: block;
        margin: 0 48px;
        margin-bottom: 24px;
    }
    .footer__link {
        list-style: none;
        margin: 0;
        margin-left: 16px;
        padding: 0;
        float: left;
        margin-bottom: 24px;
    }
    .footer__links {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-right: 18px;
        display: inline-block;
    }
    .footer__links:last-child {
        margin-right: 0;
    }
    .footer__copyright {
        float: right;
        color: #FFF;
        text-align: right;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin: 0;
        margin-bottom: 24px;
    }
}