.intro__list{
    margin: 0;
    list-style: none;
    padding: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
    .intro__list {
            margin: 0;
            list-style: none;
            padding: 0;
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
        }
}
@media screen and (min-width: 1024px) {
    .intro__list {
            margin: 0;
            list-style: none;
            padding: 0;
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            width: 690px;
        }
}
@media screen and (min-width: 1280px) {
    .intro__list {
            margin: 0;
            list-style: none;
            padding: 0;
            color: #FFF;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            width: 690px;
        }
}