.intro{
    width: 288px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .intro {
            width: 720px;
            margin: 0 auto;
        }
}
@media screen and (min-width: 1024px) {
    .intro {
            width: 928px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 92px;
        }
}
@media screen and (min-width: 1280px) {
    .intro {
            width: 984px;
            margin: 0 auto;
            margin-top: 92px;
        }
}